<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TSB.Services.F2DService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="RateInfoEntities" connectionString="metadata=res://*/Models.RateModel.csdl|res://*/Models.RateModel.ssdl|res://*/Models.RateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=RateInfo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <TSB.Services.F2DService.Properties.Settings>
      <setting name="PATH_DEFINITION" serializeAs="String">
        <value>.\Parameters\Definition.json</value>
      </setting>
    </TSB.Services.F2DService.Properties.Settings>
  </applicationSettings>
</configuration>